.budget-between-50-100 {
  background-color: #ee9617;
  background-image: linear-gradient(315deg, #ee9617 0%, #fe5858 74%);
}

.budget-below-50 {
  background-color: #3bb78f;
  background-image: linear-gradient(260deg, #3bb78f 0%, #0bab64 74%);
}

.budget-past-100-percent {
  background-color: #3f0d12;
  background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
}

.enter-expense-gradient {
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
mark {
  background-color: #adf7b6;
  border: 1px solid#788585;
}
