body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Open Sans", GTEestiDisplay-Regular, -apple-system, system-ui,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eeeeee;
  font-size: 1.25rem;
  display: block;
  background-image: url("money_bags_worse.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 600px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  width: auto !important;
  overflow-x: hidden !important;
}

.col-no-padding {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.form-div {
  border-radius: 1rem;
  margin: 1px 10px;
}
